<h1>
  Edit input #<%= @input.id %>
</h1>

<hr>

<%= render("input_templates/validation_failures.html.erb") %>

<form action="/update_input_record/<%= @input.id %>" method="post">
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h5 class="card-header"><i class="fas fa-users"></i>  Customers</h5>
            <div class="card-body">
              
              <div class="row">
                <div class="col">
                  <label for="customer_satisfaction">
                    Customer satisfaction
                  </label>
                  <select id="customer_satisfaction" name="customer_satisfaction" value="<%= @input.customer_satisfaction %>">
                  <% 1.step(100,1) do |number| %>
                    <option>
                    <%= number %>
                    </option>
                  <% end %>
                  </select>
                </div>
              </div>
              
              
              <div class="row">
                <div class="col">
                  <label for="customers_acquired_last_month">
                    Customers acquired last month
                  </label>
                  <input type="text" id="customers_acquired_last_month" name="customers_acquired_last_month" placeholder="Enter Integer" value="<%= @input.customers_acquired_last_month %>">
                </div>
                <div class="col">
                  <label for="total_customers">
                    Total customers
                  </label>
                  <input type="text" id="total_customers" name="total_customers"placeholder="Enter Integer" value="<%= @input.total_customers %>">
                </div>
              </div>
            
            
            <div class="row">
            
              <div class="col">
                <label for="number_promotion_activities_last_month">
                  Number promotion activities last month
                </label>
            
                <input type="text" id="number_promotion_activities_last_month" name="number_promotion_activities_last_month" placeholder="Enter Integer" value="<%= @input.number_promotion_activities_last_month %>">
              </div>
            
              <div class="col">
                <label for="number_promotion_activities_next_month">
                  Number promotion activities next month
                </label>
            
                <input type="text" id="number_promotion_activities_next_month" name="number_promotion_activities_next_month" placeholder="Enter Integer" value="<%= @input.number_promotion_activities_next_month %>">
              </div>
              </div>
              </div>
          </div>
        </div>
        
        <div class="row"></div>
        
        
        <div class="pt-4 col-12">
          <div class="card">
            <h5 class="card-header"><i class="fas fa-chart-line"></i>  Economics & Financials</h5>
            <div class="card-body">
              
              <div class="row">
                <div class="col">
            <label for="operating_income">
      Operating income
    </label>
    <input type="text" id="operating_income" name="operating_income" placeholder="Enter € Value" value="<%= @input.operating_income %>">          
                </div>
                <div class="col">
                  <label for="revenues">
                      Revenues
                      </label>
                <input type="text" id="revenues" name="revenues" placeholder="Enter € Value" value="<%= @input.revenues %>">
                </div>
              </div>
              
              <div class="row">
                <div class="col">
                      <label for="invested_capital">
      Invested capital
    </label>

    <input type="text" id="invested_capital" name="invested_capital" placeholder="Enter € Value" value="<%= @input.invested_capital %>">
                </div>
                <div class="col">
                      <label for="total_assets">
      Total assets
    </label>

    <input type="text" id="total_assets" name="total_assets" placeholder="Enter € Value" value="<%= @input.total_assets %>">
                </div>
              </div>
              
              <div class="row">
                <div class="col">
                      <label for="paid_in_capital">
      Paid in capital
    </label>

    <input type="text" id="paid_in_capital" name="paid_in_capital" placeholder="Enter € Value" value="<%= @input.paid_in_capital %>">
                </div>
                <div class="col">
                      <label for="long_term_debt">
      Long term debt
    </label>

    <input type="text" id="long_term_debt" name="long_term_debt" placeholder="Enter € Value" value="<%= @input.long_term_debt %>">
                </div>
              </div>
              
              <div class="row">
                <div class="col">
    <label for="non_performing_loans_to_customers">
      Non performing loans to customers
    </label>

    <input type="text" id="non_performing_loans_to_customers" placeholder="Enter € Value" name="non_performing_loans_to_customers" value="<%= @input.non_performing_loans_to_customers %>">                  
                </div>
                <div class="col">
    <label for="perished_inventory">
      Perished inventory
    </label>

    <input type="text" id="perished_inventory" name="perished_inventory" placeholder="Enter € Value" value="<%= @input.perished_inventory %>">                  
                </div>
              </div>              
              
            </div>
            </div>
        </div>
        
        <div class="row"></div>
        
                <div class="pt-4 col-12">
          <div class="card">
            <h5 class="card-header"><i class="fas fa-clipboard-list"></i>  Processes</h5>
            <div class="card-body">
              
              <div class="row">
                <div class="col">
                      <label for="utilities_expenses">
      Utilities expenses
    </label>

    <input type="text" id="utilities_expenses" name="utilities_expenses" placeholder="Enter € Value" value="<%= @input.utilities_expenses %>">
                </div>
                <div class="col">
    <label for="rent">
      Rent
    </label>

    <input type="text" id="rent" name="rent" placeholder="Enter € Value" value="<%= @input.rent %>">                  
                </div>
              </div>
              
              <div class="row">
                <div class="col">
          <label for="interest_expenses">
      Interest expenses
    </label>

    <input type="text" id="interest_expenses" name="interest_expenses" placeholder="Enter € Value" value="<%= @input.interest_expenses %>">            
                </div>
                <div class="col">
        <label for="taxes">
      Taxes
    </label>

    <input type="text" id="taxes" name="taxes" placeholder="Enter € Value" value="<%= @input.taxes %>">              
                </div>
              </div>
              
              <div class="row">
                <div class="col">
        <label for="consulting_expenses">
      Consulting expenses
    </label>

    <input type="text" id="consulting_expenses" name="consulting_expenses" placeholder="Enter € Value" value="<%= @input.consulting_expenses %>">              
                </div>
                <div class="col">
        <label for="other_indirect_costs">
      Other indirect costs
    </label>

    <input type="text" id="other_indirect_costs" name="other_indirect_costs" placeholder="Enter € Value" value="<%= @input.other_indirect_costs %>">              
                </div>
              </div>
              
              <div class="row">
                <div class="col">
    <label for="number_of_employees">
      Number of employees
    </label>

    <input type="text" id="number_of_employees" name="number_of_employees" placeholder="<%= current_user.number_of_employees %> (change by editing profile)" readonly>                  
                </div>
                <div class="col">
    <label for="yearly_working_days">
      Yearly working days
    </label>

    <input type="text" id="yearly_working_days" name="yearly_working_days" placeholder="Enter Integer" value="<%= @input.yearly_working_days %>">                  
                </div>
              </div>              
              
          <div class="row">
            <div class="col">
    <label for="monthly_contribution_margin">
      Monthly contribution margin
    </label>

    <input type="text" id="monthly_contribution_margin" name="monthly_contribution_margin" placeholder="Enter € Value" value="<%= @input.monthly_contribution_margin %>">                  
            </div>
            
            <div class="col">
    <label for="total_deliveries">
      Total deliveries
    </label>

    <input type="text" id="total_deliveries" name="total_deliveries" placeholder="Enter Integer" value="<%= @input.total_deliveries %>">                  
            </div>
          </div>
          

          <div class="row">
            <div class="col">
    <label for="last_month_deferred_revenues">
      Last month deferred revenues
    </label>

    <input type="text" id="last_month_deferred_revenues" name="last_month_deferred_revenues" placeholder="Enter € Value" value="<%= @input.last_month_deferred_revenues %>">                  
            </div>

            <div class="col">
    <label for="last_month_total_revenues">
      Last month total revenues
    </label>

    <input type="text" id="last_month_total_revenues" name="last_month_total_revenues" placeholder="Enter € Value" value="<%= @input.last_month_total_revenues %>">                              
            </div>
          </div>
          
          
          <div class="row">
            <div class="col">
    <label for="late_deliveries">
      Late deliveries
    </label>

    <input type="text" id="late_deliveries" name="late_deliveries" placeholder="Enter Integer" value="<%= @input.late_deliveries %>">                  
            </div>
            
            <div class="col">
        <label for="non_compliant_deliveries">
      Non compliant deliveries
    </label>

    <input type="text" id="non_compliant_deliveries" name="non_compliant_deliveries" placeholder="Enter Integer" value="<%= @input.non_compliant_deliveries %>">              
            </div>
          </div>   
              
            </div>
            </div>
        </div>
        
        
                <div class="pt-4 col-12">
          <div class="card">
            <h5 class="card-header"><i class="fas fa-graduation-cap"></i>  Education & Innovation</h5>
            <div class="card-body">
              
              <div class="row">
                <div class="col">
      <label for="monthly_employee_suggestions_received">
      Monthly employee suggestions received
    </label>

    <input type="text" id="monthly_employee_suggestions_received" name="monthly_employee_suggestions_received" placeholder="Enter Integer" value="<%= @input.monthly_employee_suggestions_received %>">                
                </div>
                <div class="col">
        <label for="monthly_revenues_new_products">
      Monthly revenues new products
    </label>

    <input type="text" id="monthly_revenues_new_products" name="monthly_revenues_new_products" placeholder="Enter € Value" value="<%= @input.monthly_revenues_new_products %>">              
                </div>
              </div>
              
              <div class="row">
                <div class="col">
        <label for="monthly_education_hours_manager">
      Monthly education hours manager
    </label>

    <input type="text" id="monthly_education_hours_manager" name="monthly_education_hours_manager" placeholder="Enter Number" value="<%= @input.monthly_education_hours_manager %>">              
                </div>
                <div class="col">
        <label for="monthly_education_hours_all_employees">
      Monthly education hours all employees
    </label>

    <input type="text" id="monthly_education_hours_all_employees" name="monthly_education_hours_all_employees" placeholder="Enter Number" value="<%= @input.monthly_education_hours_all_employees %>">              
                </div>
              </div>

                </div>
              </div>
              </div>
              
              
                <div class="pt-4 col-12">
          <div class="card">
            <h5 class="card-header">  Details</h5>
            <div class="card-body">              
                <div class="row">
                  <div class="col">
                    <label for="date_of_entry">
                    Date of entry
                    </label>
                  <input type="text" id="date_of_entry" name="date_of_entry" value="<%= Date.today %>">   
                  </div>
                  <div class="col">
                    <label for="reference_period">
                    Reference Period
                    </label>
                  <input type="text" id="reference_period" name="reference_period" value="<%= @input.reference_period %>">   
                  </div>
               
                </div>
              
                <div class="row">
                  <div class="col">
                    <label for="user_id">
                    User
                    </label>
                  <input type="text" id="user_id" name="user_id" value="<%= current_user.id %>">   
                  </div>
              
              
              
              </div>
              </div>
              </div>
  </div>
</div>

<div class="pt-4 pagination justify-content-center">
  <button class="btn btn-primary">
    Input Updated Data
  </button>

</div>
</form>

<hr>

<a href="/inputs">
  Go back
</a>
