<h1>
  Add a new note
</h1>

<hr>

<%= render("note_templates/validation_failures.html.erb") %>

<form action="/insert_note_record" method="post">
  <div>
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" value="<%= @note.notes %>">
  </div>

  <div>
    <label for="inputs_id">
      Inputs
    </label>

    <select id="inputs_id" name="inputs_id" value="<%= @note.inputs_id %>">
      <% current_user.inputs.each do |input| %>
        <option>
          <%= input.date_of_entry.strftime("%B %d, %Y") %>, Input n.<%= input.id %>
        </option>
      <% end %>
  </div>

<div class="pt-4 pagination justify-content-center">
  <button class="btn btn-primary">
    Create note
  </button>
</div>
</form>

<hr>

<a href="/notes">
  Go back
</a>
